---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import ArticleDisplay from '../components/ArticleDisplay.astro'
import { getPosts } from '../utils/funcs'

const posts = await getPosts()
// TODO: make these based on posts I've set favourite = true
const shortPosts = posts.slice(0, 3)
---

<Layout title="Blog | Will Carkner">
  <Section>
    <h2>My Thoughts</h2>
    <ArticleDisplay title="My Best" posts={shortPosts} />
    <ArticleDisplay title="All Posts" posts={posts} />
    <a
      class="text-white text-lg hover:text-blue-300 hover:cursor-pointer"
      href="/blog/rss.xml">View RSS</a
    >
  </Section>
</Layout>
