---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import ArticleDisplay from '../components/ArticleDisplay.astro'
import { getPosts } from '../utils/funcs'

const posts = await getPosts()
---

<Layout show={true} title="Blog | Will Carkner">
  <Section>
    <h2>Posts</h2>
    <ArticleDisplay title="All Posts" posts={posts} />
    <a
      class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
      href="/blog/rss.xml">view RSS</a
    >
  </Section>
</Layout>
