---
import type { CollectionEntry } from 'astro:content'
import ArticleLink from './ArticleLink.astro'
import Card from './Card.astro'

interface Props {
  posts: CollectionEntry<'blog'>[]
  title: string
  home?: boolean
}

const { posts, title, home } = Astro.props
---

<Card parentClass="w-full" class="space-y-4">
  <a class="no-underline" href="/blog">
    <h4>{title}</h4>
  </a>
  <div class="w-full">
    <ul>
      {posts.map((post) => <ArticleLink post={post} />)}
    </ul>
  </div>
  {
    home && (
      <a
        href="/blog"
        class="text-white font-mono font-bold no-underline hover:text-sky-400 text-base hover:underline"
      >
        Read More
      </a>
    )
  }
</Card>
