---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<a href={`/blog/${post.slug}`} class="no-underline">
  <div class="mb-2 flex-row justify-between flex">
    <div class="flex-col text-left flex">
      <p class="text-white font-bold text-xl">{post.data.title}</p>
      <p class="text-gray-400 text-sm font-mono">
        <FormattedDate date={post.data.pubDate} />
      </p>
    </div>
    <span class="text-white duration-500 text-2xl hover:scale-110">&rarr;</span>
  </div>
</a>
