---
export interface Props {
  class?: string
  parentClass?: string
}
const { class: className, parentClass: parentClassName } = Astro.props
---

<li class:list={[parentClassName, ' group relative list-none']}>
  <div
    class:list={[
      className,
      'shadow-slate-900 rounded-xl border-2 border-gray-600 bg-black p-6 flex flex-col items-center justify-center relative w-full shadow-lg',
    ]}
  >
    <slot />
  </div>
</li>
