<div class="flex flex-row space-x-2 items-center justify-center text-xl">
    <a
        class="text-white font-mono no-underline hover:text-sky-400 text-xl hover:underline"
        href="/">/home</a
    >
</div>
