---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate } = Astro.props
---

<Layout title={title}>
  <Section class="!mt-8">
    <div class="space-y-2">
      <h2>{title}</h2>
      <p class="font-mono text-gray-400">
        Published on<FormattedDate date={pubDate} />
      </p>
    </div>
    <Card parentClass="w-full">
      <slot />
    </Card>
  </Section>
</Layout>
