---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import BlogCard from '../components/BlogCard.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate } = Astro.props
---

<Layout show={true} title={title}>
  <Section class="!mt-8">
    <div class="space-y-2">
      <h2>{title}</h2>
      <p class="font-mono text-gray-400">
        Published on<FormattedDate date={pubDate} />
      </p>
    </div>
    <Section class="text-left md:text-justify">
      <article>
        <BlogCard>
          <slot />
        </BlogCard>
      </article>
    </Section>
  </Section>
</Layout>

<style is:global>
  article {
    * {
      @apply px-2;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply !px-0 text-slate-200;
    }
    h1,
    h2 {
      @apply pt-3 pb-2 text-3xl font-bold md:text-4xl;
    }
    h3 {
      @apply pt-2 pb-1 text-xl font-bold md:text-2xl;
    }
    h4 {
      @apply pt-1 pb-[0.5] text-base font-bold md:text-lg;
    }
    li {
      @apply p-[0.5];
    }
    p {
      @apply text-slate-300;
    }

    b,
    strong {
      @apply text-slate-200;
    }
    b,
    strong,
    em,
    a {
      @apply !px-0;
    }

    a {
      @apply text-slate-200;
    }

    pre {
      @apply rounded-xl border border-slate-200/10 px-4 py-3;
    }

    blockquote {
      @apply ml-2 border-l-4 border-slate-200 italic;

      p {
        @apply text-slate-200;
      }
    }

    table {
      @apply mx-2 border-collapse border border-slate-200/10;
    }

    th,
    td {
      @apply border border-slate-200/10 p-2 text-slate-300;
    }

    th {
      @apply bg-slate-300/20;
    }

    tr {
      @apply odd:bg-slate-200/5 even:bg-slate-200/10;
    }

    ul {
      @apply list-['•'] pl-6;
      ul {
        @apply pl-2;
      }
    }

    ol {
      @apply pl-6;
      li::marker {
        content: counter(list-item) '.';
      }
    }

    li {
      padding-left: 1ch;
    }
    li::marker {
      @apply text-base font-bold;
    }

    ul > li > ul > li {
      @apply text-sm text-slate-400;
    }
    ul > li > ul > li > ul > li {
      @apply text-slate-500;
    }

    p:has(> img) {
      @apply flex items-center justify-center;
    }
    img {
      @apply w-1/2 rounded-xl;
    }
  }
  article div *:first-child {
    @apply !pt-0;
  }
</style>
