---
export interface Props {
  title: string
  show?: boolean
}

const { title, show } = Astro.props
import Nav from '../components/Nav.astro'
---

<!doctype html>
<html
  lang="en"
  class="min-h-screen text-white selection:bg-transparent selection:text-sky-400"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col justify-between items-center">
    <>
      <slot />
      <div class="my-2">
        {show && <Nav />}
        <p class="text-gray-400 font-mono text-sm mt-4">
          &copy Will Carkner {new Date().getFullYear()}
        </p><p class="text-gray-400 font-mono text-sm my-1">
          Built in ☘️ with <a href="https://astro.build/">Astro</a>
        </p>
      </div>
    </>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    h1 {
      @apply text-5xl font-bold sm:text-6xl;
    }
    h2 {
      @apply text-4xl font-bold sm:text-5xl;
    }
    h3 {
      @apply text-3xl font-bold sm:text-4xl;
    }
    h4 {
      @apply text-2xl font-bold sm:text-3xl;
    }

    html,
    body {
      @apply min-h-screen w-full bg-black text-center;
    }
    a {
      @apply underline decoration-2 underline-offset-1 duration-300;
    }
    a:hover {
      @apply underline-offset-4;
    }
    .bold-slate-p b {
      @apply text-slate-300;
    }
  }
</style>
